/* Normolize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background: 0;
  cursor: pointer;
}

/* General */
body {
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1535px;
  margin: 0 auto;
}

.btn {
  color: #ffffff;
  background: #99BAED;
  padding: 23px 33px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
  line-height: 30px;
  letter-spacing: 3%;
  box-shadow: 10px 10px 15px #99BAED80;
}

.title {
  font-size: 75px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
  line-height: 100px;
  color: #163561;
}

.title span {
  color: #FBB400;
}

.text {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  line-height: 37px;
  letter-spacing: 3%;
  color: #153461;
  opacity: 65%;
}

/* Header -------> */
.header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header .container .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.header .container .left .menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
}

.header .container .left .menu li {
  font-size: 25px;
  font-weight: 500;
  font-family: 'Catamaran', sans-serif;
  color: #163561;
  padding: 8px 14px;
}

.header .container .left .menu li.active {
  color: #ffffff;
  background: #A3C1EF;
  padding: 67px 14px 8px;
  border-radius: 0 0 5px 5px;
}

.header .container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

/* Hero -------> */
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin: 50px 0;
}

.hero .left {
  width: 30%;
}

.hero .left .text {
  margin: 30px 0 100px;
  width: 526px;
}

/* History -------> */
.history {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.history .right .text {
  width: 526px;
}

.history .right .text.first {
  margin: 80px 0 50px;
}

.history .right .text.last {
  margin-bottom: 100px;
}

/* Service -------> */
.service .container .title {
  text-align: center;
  width: 387px;
  margin: 0 auto;
}

.service .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin: 80px 0;
}

.service .container .wrapper .card {
  width: 440px;
  text-align: center;
  padding: 50px 40px;
  border-radius: 29px;
  background: #FAFBFF;
  box-shadow: 0px 5px 0px 0px #99BAED;
  transition: 0.5s;
}

.service .container .wrapper .card:hover {
  background: #99BAED;
}

.service .container .wrapper .card .img-block {
  width: 123px;
  height: 126px;
  background: #E5ECFE;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  box-shadow: 0px 1px 0px 0px #008FDD;
}

.service .container .wrapper .card .card-title {
  font-size: 45px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
  line-height: 52px;
  letter-spacing: 1.35px;
  color: #163561;
  margin: 60px 0;
}

.service .container .wrapper .card .card-text {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  line-height: 37px;
  letter-spacing: 0.75px;
  color: #153461;
  opacity: 0.65;
}

.service .container .wrapper .card:hover .card-title,
.service .container .wrapper .card:hover .card-text {
  color: #FFF;
}

/* Gallery */
.gallery .container .title {
  text-align: center;
}

.gallery .container .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 37px;
  margin: 110px 0 77px;
}

.gallery .container .wrapper .image {
  width: 435px;
  height: 435px;
  position: relative;
}

/* css pseudoclass */
.gallery .container .wrapper .image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5296FF59;
}

.gallery .container .wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .container .btn {
  display: block;
  margin: 0 auto;
}

/* footer */
.footer {
  margin: 100px 0 50px;
}

.footer .container {
  text-align: center;
}

.footer .container .text {
  width: 526px;
  margin: 40px auto;
}

.footer .container .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.footer .container .socials .icon {
  background-color: #D3E5FF;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.footer .container .socials .icon:hover {
  background-color: #99BAED;
}

.footer .container .line {
  width: 100%;
  height: 1px;
  margin-top: 50px;
  background: #99BAED;
}

/* Effects------------ */
.history {
  position: relative;
}

.history::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: -170px;
  background: url(images/left-effect.svg) no-repeat left / contain;
}

.history::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: -230px;
  background: url(images/right-effect.svg) no-repeat right / contain;
}

.service {
  position: relative;
}

.service::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(images/left-effect.svg) no-repeat left bottom / contain;
}

.service::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(images/right-effect.svg) no-repeat right bottom / contain;
}

.gallery {
  position: relative;
}

.gallery::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: -200px;
  top: 0;
  background: url(images/left-effect.svg) no-repeat left / contain;
}

.gallery::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: -200px;
  top: 0;
  background: url(images/right-effect.svg) no-repeat right / contain;
}