/* Normolize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  outline: 0;
  background: 0;
  cursor: pointer;
}

/* General */
body {
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
}

.container {
  width: 1535px;
  margin: 0 auto;
}

.btn {
  color: #ffffff;
  background: #99BAED;
  padding: 23px 33px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
  line-height: 30px;
  letter-spacing: 3%;
  box-shadow: 10px 10px 15px #99BAED80;
}

.title {
  font-size: 75px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
  line-height: 100px;
  color: #163561;
}

.title span {
  color: #FBB400;
}

.text {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  line-height: 37px;
  letter-spacing: 3%;
  color: #153461;
  opacity: 65%;
}

/* Header -------> */
.header .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header .container .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.header .container .left .menu {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
}

.header .container .left .menu li {
  font-size: 25px;
  font-weight: 500;
  font-family: 'Catamaran', sans-serif;
  color: #163561;
  padding: 8px 14px;
}

.header .container .left .menu li.active {
  color: #ffffff;
  background: #A3C1EF;
  padding: 67px 14px 8px;
  border-radius: 0 0 5px 5px;
}

.header .container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

/* Hero -------> */
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin: 50px 0;
}

.hero .left {
  width: 30%;
}

.hero .left .text {
  margin: 30px 0 100px;
  width: 526px;
}

/* History -------> */
.history {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.history .right .text {
  width: 526px;
}

.history .right .text.first {
  margin: 80px 0 50px;
}

.history .right .text.last {
  margin-bottom: 100px;
}

/* Service -------> */
.service .container .title {
  text-align: center;
  width: 387px;
  margin: 0 auto;
}

.service .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin: 80px 0;
}

.service .container .wrapper .card {
  width: 440px;
  text-align: center;
  padding: 50px 40px;
  border-radius: 29px;
  background: #FAFBFF;
  box-shadow: 0px 5px 0px 0px #99BAED;
  transition: 0.5s;
}

.service .container .wrapper .card:hover {
  background: #99BAED;
}

.service .container .wrapper .card .img-block {
  width: 123px;
  height: 126px;
  background: #E5ECFE;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  box-shadow: 0px 1px 0px 0px #008FDD;
}

.service .container .wrapper .card .card-title {
  font-size: 45px;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
  line-height: 52px;
  letter-spacing: 1.35px;
  color: #163561;
  margin: 60px 0;
}

.service .container .wrapper .card .card-text {
  font-size: 25px;
  font-weight: 400;
  font-family: 'Catamaran', sans-serif;
  line-height: 37px;
  letter-spacing: 0.75px;
  color: #153461;
  opacity: 0.65;
}

.service .container .wrapper .card:hover .card-title,
.service .container .wrapper .card:hover .card-text {
  color: #FFF;
}